<h2><%= @restaurant[:name] %></h2>
<p><%= @restaurant[:address] %></p>
<p><%= @restaurant[:phone_number] %></p>
<p><%= @restaurant[:category] %></p>
<br>
<h3><%= link_to "Add a review", new_restaurant_review_path(@restaurant)%></h3>
<h6> <%= "Reviews: "%></h6>
<ul>
  <% @reviews.each do |review| %>
    <li><%= "Rating: " + review[:rating].to_s %><br><%= review[:content] %></li>
  <% end %>
</ul>
