<%= simple_form_for [@restaurant, @review] do |f| %>

  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit "Add a review", class: "btn btn-primary" %>
<% end %>
